{# src/GoTBundle/Resources/views/Blog/list.html.twig #}
{% extends "::base.html.twig" %}
{% block title %}Lista de Personajes{% endblock %}

{% block slider %}
<h3> Lista de Personajes de Juego de Tronos</h3>
<p>― Divididos por casas</p> 
{% endblock %}

{% block body %}
{% for personaje in personajes %}

<div class="team-section" id="team">
    <div class="container">
        <div class="team-header">
                                
                                <h3><img src="{{ asset(personaje.house.emblem) }}" width="108px" height="108px"> {{ personaje.house.name }}</h3>

                                <p>{{ personaje.house.motto }}</p>
                                </div>
                                <div class="team-grids">
                                    <div class="col-md-4 team-grid">
                                        <img src="{{ asset(personaje.foto) }}"  width="300px" height="450px">
                            </div>
                                    <div class="team-grids">
                                    <div class="col-md-8 team-grid">
                                        <div class="team-content">
                                            <a href="{{ path('blogger_blog_show', {'id': personaje.id}) }}">
                                            {{ personaje.name }}</a><br><br><br><br>
                                            <br><br><br><br>
                                        <p> {{ personaje.description(150) }} </p>
                                        <h1><a href="{{ path('blogger_blog_show', { 'id': personaje.id }) }}">Mas info</a></h1>
                                        </div>
                        </div>
                            </div>
                        <div class="clearfix"> </div>
                            </div> 
                            </div>
                        </div>
{% endfor %}
{% endblock %}